@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0;
  background-color: #fff0;
}

::-webkit-scrollbar-track {
  background-color: #2220; /* Change the background color */
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #2220; /* Change the color of the scrollbar thumb */
  border-radius: 10px; /* Round the corners of the thumb */
}

/* Customize scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: #fff0; /* Change the color of the scrollbar corner */
}

/* Customize scrollbar button */
::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "lexend" !important;
  background: black;
  color:white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'lexend';
  src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype'); /* Modern Browsers */
  /* Add more src lines for different font file formats if needed */
  font-weight: normal;
  font-style: normal;
}

div {
  font-size:small;
}

#blog-view img{
  width: 200px;
  border-radius: 20px;
}