:root {
    --primary-color: white;
  }

.ql-toolbar{
    border: none!important;

    width: fit-content;
    padding: 0!important;
    min-width:58px!important;
}

.ql-fill {
    fill: var(--primary-color)!important;
}

.ql-stroke {
    stroke: var(--primary-color)!important;
}

.ql-picker-label {
    color: var(--primary-color)!important;
}

.ql-editor.ql-blank::before {
    color: gray!important;
    margin-left:-8px!important;
}

.ql-container{
    border:none!important;
}

.ql-editor{
    padding:0px;
    overflow-wrap: anywhere;
}

.ql-editor img{
    margin-top: 10px;
    margin-bottom: 10px;
    width:300px!important;
    height:240px!important;
    object-fit: cover;
    cursor: pointer;
    background-color: #0008;
}

.ql-tooltip{
    margin-left: 50px;
}

.ql-formats{
    margin-right: 0!important;
}