:root {
    --primary-color: white;
  }

.ql-toolbar{
    border: none!important;
    padding: 0px!important;
    padding-bottom: 8px!important;
    padding-top: 4px!important;
    width: fit-content;
    position: absolute;
    right: -20px;
    top: 3px;
    z-index: 10;
}

.ql-fill {
    fill: var(--primary-color)!important;
}

.ql-stroke {
    stroke: var(--primary-color)!important;
}

.ql-picker-label {
    color: var(--primary-color)!important;
}

.ql-editor.ql-blank::before {
    color: gray!important;
    margin-left:-8px!important;
}

.ql-container{
    border:none!important;
}

.ql-editor{
    padding:0px;
}

.ql-editor img{
    width:100px!important;
    cursor: pointer;
}

.ql-image{
    opacity: 50%;
}

.ql-image:hover{
    opacity: 100%;
}

.ql-color{
    opacity: 50%;
}

.ql-color:hover{
    opacity: 100%;
}

.ql-link{
    opacity: 50%;
}

.ql-link:hover{
    opacity: 100%;
}

.ql-tooltip{
    margin-left: 50px;
}